@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  box-sizing: border-box;
}
body { 
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  font-family: Source Serif Pro, serif; 
  line-height: 1.5; font-size: 1.3rem;

  > p:not(:first-of-type) {
  margin-right: 50%;
    // ensures that text (after the first paragraph) is readable around the sticky element
    @media all and (max-width: 600px) {
      margin-right: 0;
      // removes this margin at small screen sizes
    }
}
}
div#sticky {
  font-family: Open Sans, sans-serif;
  font-size: 1.1rem;
  width: 50%;
  padding: 2.2rem;
  padding-bottom: 3rem;
  padding-top: 0;
  float: right;
  position: -webkit-sticky;
  // for Safari
  position: sticky;
  // for Firefox & final spec
  top: 0px;
  // _required_. (Alternatively, bottom, left or right, depending on direction of scroll)
  @media all and (max-width: 600px) {
		position: static !important;
    float: none;
    width: 100%;
    padding-bottom: 0;
    // resets the block to flow with the rest of the document at small screen widths
}
  img {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }
  +div {
  display: none;
    // gets rid of the empty div imposed by the polyfill below the previously sticky element when the screen width is low.
}
}